<style>
    body {
        font-weight: lighter;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    }

    div {
        height: 50%;
        width: 50%;
        margin: auto;
    }

    button {
        margin: auto
    }
</style>

<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>

    <body>
        <div id = "response">
        </div>
        <div id = "button">
            <button onclick="handleClick()" method="delete" action="http://localhost:9000/get/todo">
                Clear Complete
            </button>
        </div>
    </body>
</html>

<script>
    var object = document.getElementById("response")

    getTodos();

    async function getTodos() {
        const response = await fetch('http://localhost:9000/get/todo', {
            method: 'GET'
        })

        const data = await response.json();

        console.log(data)
        data.forEach(x => {
            let h1 = document.createElement("h1")
            h1.innerText = x.description + ", complete: " + x.isDone
            object.appendChild(h1)
        })
    }

    async function handleClick() {
        await fetch('http://localhost:9000/delete/todo', {
            method: 'DELETE'
        })

        object.innerHTML = ''

        getTodos()
    }

    
</script>